---
// custom component react
import ContainerButton from "../../../components/react-intro/ContainerButton.jsx";

import "../../../styles/tailwind.css";
---

<div class="p-4">
  <ContainerButton />
</div>
