---
import { Icon } from "astro-icon";
---

<div class="mx-auto py-8 flex flex-row items-center">
  <div>
    <Icon class="w-4 h-4 mr-1" name="ph:copyright" />
  </div>
  <div>withered-flowers (2022)</div>
</div>
