---
import { Icon } from "astro-icon";
---

<!-- <div class="mx-auto py-8 px-8 flex flex-row min-w-full justify-between"> -->
<div class="mx-auto py-8 px-8 min-w-full grid grid-cols-3">
  <div class="flex flex-row gap-2 items-center">
    <Icon name="kominfo" class="w-10 h-10" />
    <Icon name="digitalent" class="w-12 h-12" />
  </div>
  <div class="mx-auto">
    <p class="text-base md:text-3xl font-semibold">
      <a href="/">React Developer - REA4</a>
    </p>
  </div>
  <div class="flex flex-row justify-end gap-1">
    <p class="text-md md:text-3xl self-start md:self-center">PROA</p>
    <p class="text-xs md:text-base self-baseline w-20">Professional Academy</p>
  </div>
</div>
